In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
import tensorflow
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv("/content/household_power_consumption.csv")

In [ ]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16-12-2006,17:24:00,4.216,0.418,234.84,18.4,0,1,17.0
1,16-12-2006,17:25:00,5.36,0.436,233.63,23,0,1,16.0
2,16-12-2006,17:26:00,5.374,0.498,233.29,23,0,2,17.0
3,16-12-2006,17:27:00,5.388,0.502,233.74,23,0,1,17.0
4,16-12-2006,17:28:00,3.666,0.528,235.68,15.8,0,1,17.0
...,...,...,...,...,...,...,...,...,...
1048570,13-12-2008,21:34:00,0.426,0.076,242.27,1.8,0,0,0.0
1048571,13-12-2008,21:35:00,0.424,0.076,242.1,1.8,0,0,0.0
1048572,13-12-2008,21:36:00,0.422,0.076,241.73,1.8,0,0,0.0
1048573,13-12-2008,21:37:00,0.422,0.078,242.56,1.8,0,0,0.0
1048574,13-12-2008,21:38:00,0.422,0.078,242.61,1.8,0,0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1048575 non-null  object
 1   Time                   1048575 non-null  object
 2   Global_active_power    1048575 non-null  object
 3   Global_reactive_power  1048575 non-null  object
 4   Voltage                1048575 non-null  object
 5   Global_intensity       1048575 non-null  object
 6   Sub_metering_1         1048575 non-null  object
 7   Sub_metering_2         1048575 non-null  object
 8   Sub_metering_3         1044506 non-null  float64
dtypes: float64(1), object(8)
memory usage: 72.0+ MB

In [ ]:
df.isnull().sum()

Date                        0
Time                        0
Global_active_power         0
Global_reactive_power       0
Voltage                     0
Global_intensity            0
Sub_metering_1              0
Sub_metering_2              0
Sub_metering_3           4069
dtype: int64

In [ ]:
sum = df["Sub_metering_3"].isnull().sum()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [ ]:
df["Global_active_power"] = df["Global_active_power"].astype(float)
df["Global_reactive_power"] = df["Global_active_power"].astype(float)
df["Sub_metering_1"] = df["Global_active_power"].astype(float)
df["Sub_metering_2"] = df["Global_active_power"].astype(float)

In [ ]:
df["Voltage"] = df["Voltage"].astype("float")
df["Global_intensity"] = df["Global_intensity"].astype("float")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044506 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1044506 non-null  object
 1   Time                   1044506 non-null  object
 2   Global_active_power    1044506 non-null  float64
 3   Global_reactive_power  1044506 non-null  float64
 4   Voltage                1044506 non-null  float64
 5   Global_intensity       1044506 non-null  float64
 6   Sub_metering_1         1044506 non-null  float64
 7   Sub_metering_2         1044506 non-null  float64
 8   Sub_metering_3         1044506 non-null  float64
dtypes: float64(7), object(2)
memory usage: 79.7+ MB

In [ ]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,1.044506e+06,1.044506e+06,1.044506e+06,1.044506e+06,1.044506e+06,1.044506e+06,1.044506e+06
mean,1.108202e+00,1.108202e+00,2.399598e+02,4.718123e+00,1.108202e+00,1.108202e+00,5.933837e+00
std,1.129546e+00,1.129546e+00,3.284504e+00,4.763588e+00,1.129546e+00,1.129546e+00,8.210398e+00
min,7.600000e-02,7.600000e-02,2.234900e+02,2.000000e-01,7.600000e-02,7.600000e-02,0.000000e+00
25%,2.880000e-01,2.880000e-01,2.379700e+02,1.200000e+00,2.880000e-01,2.880000e-01,0.000000e+00
50%,5.500000e-01,5.500000e-01,2.402100e+02,2.400000e+00,5.500000e-01,5.500000e-01,0.000000e+00
75%,1.544000e+00,1.544000e+00,2.421400e+02,6.400000e+00,1.544000e+00,1.544000e+00,1.700000e+01
max,1.067000e+01,1.067000e+01,2.521400e+02,4.640000e+01,1.067000e+01,1.067000e+01,3.100000e+01

In [ ]:
x = df.drop(["Global_intensity","Date","Time"],axis = 1)

In [ ]:
x

,Global_active_power,Global_reactive_power,Voltage,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,4.216,4.216,234.84,4.216,4.216,17.0
1,5.360,5.360,233.63,5.360,5.360,16.0
2,5.374,5.374,233.29,5.374,5.374,17.0
3,5.388,5.388,233.74,5.388,5.388,17.0
4,3.666,3.666,235.68,3.666,3.666,17.0
...,...,...,...,...,...,...
1048570,0.426,0.426,242.27,0.426,0.426,0.0
1048571,0.424,0.424,242.10,0.424,0.424,0.0
1048572,0.422,0.422,241.73,0.422,0.422,0.0
1048573,0.422,0.422,242.56,0.422,0.422,0.0
1048574,0.422,0.422,242.61,0.422,0.422,0.0

In [ ]:
y = df["Global_intensity"]

In [ ]:
y

0          18.4
1          23.0
2          23.0
3          23.0
4          15.8
           ...
1048570     1.8
1048571     1.8
1048572     1.8
1048573     1.8
1048574     1.8
Name: Global_intensity, Length: 1044506, dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
x.iloc[:,:] = sc.fit_transform(x.iloc[:,:])

In [ ]:
df.corr()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Global_active_power,1.000000,1.000000,-0.400987,0.999020,1.000000,1.000000,0.624107
Global_reactive_power,1.000000,1.000000,-0.400987,0.999020,1.000000,1.000000,0.624107
Voltage,-0.400987,-0.400987,1.000000,-0.411298,-0.400987,-0.400987,-0.284932
Global_intensity,0.999020,0.999020,-0.411298,1.000000,0.999020,0.999020,0.613220
Sub_metering_1,1.000000,1.000000,-0.400987,0.999020,1.000000,1.000000,0.624107
Sub_metering_2,1.000000,1.000000,-0.400987,0.999020,1.000000,1.000000,0.624107
Sub_metering_3,0.624107,0.624107,-0.284932,0.613220,0.624107,0.624107,1.000000

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20,random_state = 1)

In [ ]:
# step1 : Initialize the ann model
ann = Sequential()
# step 2 : add layer into model 
ann.add(Dense(units = 30, activation = "relu"))
ann.add(Dense(units = 1, activation = "sigmoid"))

# step 3 : establish the connection between the layers 
ann.compile(optimizer = "adam", loss = "mse")

# step 4 : train the model
ann.fit(xtrain,ytrain,epochs = 30)

Epoch 1/30
26113/26113 [==============================] - 35s 1ms/step - loss: 36.5756
Epoch 2/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 3/30
26113/26113 [==============================] - 33s 1ms/step - loss: 36.5585
Epoch 4/30
26113/26113 [==============================] - 29s 1ms/step - loss: 36.5586
Epoch 5/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 6/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 7/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 8/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 9/30
26113/26113 [==============================] - 29s 1ms/step - loss: 36.5585
Epoch 10/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5587
Epoch 11/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 12/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 13/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 14/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 15/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 16/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 17/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 18/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 19/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5587
Epoch 20/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 21/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 22/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 23/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5587
Epoch 24/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5584
Epoch 25/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 26/30
26113/26113 [==============================] - 29s 1ms/step - loss: 36.5586
Epoch 27/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5587
Epoch 28/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586
Epoch 29/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5585
Epoch 30/30
26113/26113 [==============================] - 30s 1ms/step - loss: 36.5586

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
ypred = ann.predict(xtest)
print(f"mse : {mean_squared_error(ytest,ypred)}")
print(f"rmse : {np.sqrt(mean_squared_error(ytest,ypred))}")

3911/6529 [================>.............] - ETA: 2s